appdirs
asteval
bw2analyzer
bw2calc
bw2data
bw2io
bw2parameters
docopt
eight
flask
future
lxml
nose
numpy
peewee
psutil
pyprind
requests>=1.1.0
scipy
stats_arrays>=0.3.1
unicodecsv
voluptuous
whoosh
xlrd
xlsxwriter
