appdirs
asteval
-e hg+https://bitbucket.org/cmutel/brightway2-analyzer#egg=bw2analyzer
-e hg+https://bitbucket.org/cmutel/brightway2-calc#egg=bw2calc
-e hg+https://bitbucket.org/cmutel/brightway2-data#egg=bw2data
-e hg+https://bitbucket.org/cmutel/brightway2-ui#egg=bw2ui
-e hg+https://bitbucket.org/cmutel/brightway2-io#egg=bw2io
bw2parameters
docopt
eight
flask
future
lxml
nose
numpy
peewee>=3.0
pyprind
requests
scipy
stats_arrays
unicodecsv
voluptuous
whoosh
xlrd
xlsxwriter
