-e hg+https://bitbucket.org/cmutel/brightway2-analyzer#egg=bw2analyzer
-e hg+https://bitbucket.org/cmutel/brightway2-calc#egg=bw2calc
-e hg+https://bitbucket.org/cmutel/brightway2-data#egg=bw2data
-e hg+https://bitbucket.org/cmutel/brightway2-ui#egg=bw2ui
colorama
docopt
flask
lxml
nose
numpy
progressbar-ipython
requests
scipy
stats_arrays>=0.2.4
unicodecsv
voluptuous
