-e hg+https://bitbucket.org/cmutel/brightway2-analyzer#egg=bw2analyzer
-e hg+https://bitbucket.org/cmutel/brightway2-calc#egg=bw2calc
-e hg+https://bitbucket.org/cmutel/brightway2-data#egg=bw2data
bw2ui>=0.14
docopt
flask
lxml
nose
numpy
progressbar-ipython
requests
scipy
stats_arrays>=0.2.4
voluptuous
